mixin evento(mes, dia, nombreEvento, direccion)
	a.c-list-2__item(href="#.")
		.c-list-2__fecha
			span.c-list-2__mes #{mes} 
			span.c-list-2__dia #{dia}
		.c-list-2__box
			.c-list-2__nombre #{nombreEvento}
			.c-list-2__direccion #[i.icon-location2] #{direccion}
