/*----------------------------------------------------------------------------*
	$IS
	Contiene estilos que controlan eventos de JavaScript.
*----------------------------------------------------------------------------*/

.o-is-hidden
	display: none
