/*----------------------------------------------------------------------------*
	$VENDORS
*----------------------------------------------------------------------------*/


// IcoMoon
// @import 'icomoon/icomoon.css'


// Magnific Popup
// @import 'magnific-popup'


// Selectize
// @import 'selectize/selectize'


// Slick Carousel
// @import 'slick-carousel/slick.css'
